<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Auth App Test Suite" verbose="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Register Tests">
        <classes>
            <class name="org.example.pages.RegisterTest"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="org.example.pages.LoginTest"/>
        </classes>
    </test>

    <test name="Dashboard Tests">
        <classes>
            <class name="org.example.pages.DashboardTest"/>
        </classes>
    </test>

</suite>